.main-form{
    -fx-background-color: #9c5656;
}

.left-form{
    -fx-border-color: #000;
    -fx-border-width: 0.4px 0px 0.4px 0.4px;
}

.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 0.4px 0.4px 0.4px 0px;
}

.close-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-cursor:hand;
}

.close-btn:hover{
    -fx-background-color: #ff0016;
}

.minimize-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-cursor:hand;
}

.minimize-btn:hover{
    -fx-background-color: #0072ff;
}

.signup-btn{
    -fx-text-fill: #5185c5;
    -fx-underline: false;
    -fx-border-color: transparent;
}

.signup-btn:hover{
    -fx-text-fill: #7fa9fd;
    -fx-underline: true;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-width:0.4px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
}

.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width:0.8px;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #278f96,#2d645f);
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #21a7ae,#368981);
}

.google-btn{
    -fx-background-color:transparent;
    -fx-background-radius:4px;
    -fx-border-color: #dfdfdf;
    -fx-border-radius: 4px;
    -fx-text-fill:#000;
    -fx-font-size:11px;
    -fx-font-family:"Verdana";
    -fx-cursor:hand;
}

.google-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #cccccc,#a4a4a4);
}

.bgImage{
    -fx-background-size: 300,400;
    -fx-smooth: false;
    -fx-background-repeat: no-repeat;
}